*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
section{
    width: 100%;
    height: 100vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0px;
    left: 0;
    height: 80px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index:1000;
}
section .logo img{
   
    height: 90px;
    overflow: hidden;
}
section nav ul{
    list-style: none;
    
}
section nav ul li{
    font-weight:bold ;
    display: inline-block;
    margin: 0 30 ;
}
section nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: 17;
    transition: 0.1s;
}
section nav ul li a::after{
    
    content: '';
    width: 0%;
    height: 2px;
    background-color: #fac301;
    display: block;
    transition: 0.2s linear;
}
section nav ul li a:hover::after{
    width: 100%;
}
section nav ul li a:hover{
    color: #fac301;
}
section nav .icon i{
    font-size: 19px;
    color: black;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s;
}
section nav .icon i:hover{
    color: #fac301;
}
section .main{
    display:flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    top: 130px;
}
section .main .main_text{
    font-size: 38px;
    position: relative;
    left:30px;
    top:-150px
}
section .main .main_text h1 span{
    color: #fac301;
    font-family: mv boli;
    line-height: 50px;
    font-size: 70px;
}
section .main .main_img{
    position: relative;
    top: 10px;
  left: 50px;
}
section p{
    position: relative;
    text-align: justify;
    width:700px;
    left: 80px;
    bottom: 10px;
    line-height: 30px;
    top:-150px;

}
section .ord_button{
    background-color: #fac301;
    position: relative;
    left: 80px;
    bottom: 90px;
    width: 150px;
    cursor:pointer;
    padding: 12px 25px;

}
section .ord_button a{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}
section .ord_button i{
    color: white;
    transition: 0.3s;
}
section .ord_button:hover i{
    transform: translatex(8px);
}


.menu{
    width: 100%;
    padding: 70px 0 ;
}
.menu h1{
    
   display: flex;
    align-items: center;
    color: black;
    font-size: 55px;
    justify-content: center;
    margin-bottom: 20px;
}
.menu h1 span{
    
    color: #fac301;
    font-family:mv boli;
    margin-left: 15px;
}
.menu h1 span::after{
    content: '';
    width:100%;
    height: 3px;
    background: #fac301;
    display: block;
    position: relative;
    bottom: 15px;
    
}
.menu .menu_box{
    width: 90%;
    margin: 0 auto;
}
.menu .menu_box .menu_card{
    width:325px ;
    height:430px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
}
.menu .menu_box .menu_card .menu_img{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}
.menu .menu_box .menu_card .menu_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
}
.menu .menu_box .menu_card .menu_img img:hover{
 transform: scale(1.2);
}
.menu .menu_box .menu_card .small_cart{
   
    float: right;
    position: relative;
    top: -220px;
    right: 10px;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    opacity: 0;
    transition: 0.3s;
}
.menu .menu_box .menu_card:hover .small_cart{
    right: 35px;
    top: -220px;
    position: relative;
    opacity: 1;
}
.menu .menu_box .menu_card .small_cart:hover {
color: #fac301;
}
.menu .menu_box .menu_card .info h2{
    text-align: center;
    color: #fac301;
    margin-top: 10px;
    position: relative;
    
}
.menu .menu_box .menu_card .info h3{
    text-align: center;
    font-size: large;
    margin-top: 10px;
}
.menu .menu_box .menu_card .info .rating {
  
    text-align: center;
   color: #fac301;
   margin-top: 10px;
}
.menu .menu_box .menu_card .info .ordbut{
   background-color: #fac301;
    position: relative;
    left: 100px;
    bottom: -30px;
    cursor:pointer;
    padding: 12px 25px;
    border-radius: 50px;
    transition: 0.2s;
}

.menu .menu_box .menu_card .info  a{
    text-decoration: none;
    color: black;
    font-weight:bold;
    
}
.menu .menu_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}
 
  
 footer{
    width: 100%;
    padding: 20 0 0 30px ;
    background-color: rgba(0, 0, 0, 0.123);
 }  
 footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 }
 footer .footer_main .footer_con{
    text-align: center;
 }
 footer .footer_main .footer_con h2{
    font-size: 25px;
    margin-bottom: 15px;
 }
 footer .footer_main .footer_con p{
    margin: 13px;
 }
 footer .footer_main .footer_con i{
    font-size: 23px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
 }
 footer .footer_main .footer_con i:hover{
    color: #fac301;
 }
 footer .footer_main .footer_con a {
    color: black;
    text-decoration: none;
 }
 footer .design{
    background-color: rgba(0, 0, 0, 0.2);
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 8px;
 }